# ignore everything except .gitignore
*
!.gitignore
!.cache
!.cache/pip-tools
!.cache/pipenv
!.cache/000_DO_NO_DELETE_KEEP_FOR_GIT_TO_RETAIN_EMPTY_FOLDER
!.cache/pip-tools/000_DO_NO_DELETE_KEEP_FOR_GIT_TO_RETAIN_EMPTY_FOLDER
!.cache/pipenv/000_DO_NO_DELETE_KEEP_FOR_GIT_TO_RETAIN_EMPTY_FOLDER