{% load static %}

<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="{% static 'img/bootstraper-logo.png' %}" alt="bootraper logo" class="app-logo" />
    </div>
    <ul class="list-unstyled components text-secondary">
	    <li>
	        <a href="dashboard.html"><i class="fas fa-home"></i> Dashboard</a>
	    </li>
	    <li>
	        <a href="forms.html"><i class="fas fa-file-alt"></i> Forms</a>
	    </li>
	    <li>
	        <a href="tables.html"><i class="fas fa-table"></i> Tables</a>
	    </li>
	    <li>
	        <a href="charts.html"><i class="fas fa-chart-bar"></i> Charts</a>
	    </li>
	    <li>
	        <a href="icons.html"><i class="fas fa-icons"></i> Icons</a>
	    </li>
	</ul>
</nav>